.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;/*<li> 점지우기*/
}

.menu-list li{
    padding: 10px;
}


/*position: absolute;으로 줘야 div를 맘대로 움직일수있어*/
.search-box{
    border-bottom: 1px solid black;
    position: absolute;
    right: 50px;
    padding: 10px;
}

.search-box input{
    border: none;
    outline: none;
    margin-left: 5px;
}

.card-img{
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.card-img:hover{
    transform: scale(1.05);
}


.login-link{
    padding-bottom: 5px;
    text-decoration-line: none;
    color: black;
}

.login-area{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-text{
    color: red;
    font-weight: bold;
}

.product-img{
    display: flex;
    justify-content: flex-end;
}

.margin-l-20{
    margin-left: 20px;
}

.padding-20{
    margin: 20px;
}

.size-btn{
    height: 40px;
    width: 35%;
}

.order-btn{
    height: 40px;
    width: 100%;
}

.detail-area{
    display: flex;
    justify-content: center;
}

.product-area{
    margin-top: 20px;
}

.product-title{
    margin-top: 10%;
    font-size: 20px;
}

.product-price{
    margin-top: 10px;
    font-size: 18px;
}

.product-input-label{
    margin-top: 15px;
    margin-bottom: 15px;

}

.a-link{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

