.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;/*<li> 점지우기*/
}

.menu-list li{
    padding: 10px;
}


/*position: absolute;으로 줘야 div를 맘대로 움직일수있어*/
.search-box{
    border-bottom: 1px solid black;
    position: absolute;
    right: 50px;
    padding: 10px;
}

.search-box input{
    border: none;
    outline: none;
    margin-left: 5px;
}

.card-img{
    max-width: 100%;
}

.card-img:hover{
    transform: scale(1.05);
}


.login-link{
    padding-bottom: 5px;
    text-decoration-line: none;
    color: black;
}

.login-area{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img{
    display: flex;
    justify-content: flex-end;
}